.login-button {
    display: flex;
    justify-content: flex-end;
    margin: 1vw;
    cursor: pointer;
}

.nav-section {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.menu-area {
    display: flex;
    justify-content: center;
}

.menu-list {
    display: flex;
    list-style-type: none;
}

.menu-list li {
    padding: 2.5vw;
}

.searchbar {
    position: absolute;
    right: 20px;
    border-bottom: 3px solid rgba(17, 15, 15, 0.644);
}

.search-icon {
    padding : 5px
}

.searchbar input{
    border: none;
}

.ProductCard  {
    cursor: pointer;
}

.ProductCard img {
    width: 15vw;
    height: 47vh;
    transition: all 0.2s linear;
}

.ProductCard:hover img {
    transform:  scale(1.2);
}

.product-img {
    display: flex;
    justify-content: flex-end;
}