.login-button {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}
.login-font{
  margin-left: 10px;
  cursor: pointer;
}

.logo-img{
  display: flex;
  justify-content: center;
  padding: 40px;
}

.menu-area {
  display: flex;
  justify-content: center;
}

.menu-list {
  display: flex;
  list-style: none;
}

.menu-list li {
  padding: 20px;
}