<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div style="display: flex;">
    <canvas width="600" height="600" id="gameFiled"></canvas>
    <div style="margin-left: 10px; font-size: 30px;">
      <span id="hp" style="color: darkred;">hp</span> <br>
      <span id="cash" style="color: darkgoldenrod;">cash</span>
      <div id="store">
        <div>Store 접속 중</div>
        <input id="Buy" onclick="store(1)" type="submit" readonly value="HP충전" style="width: 180px; height: 50px; font-size: 30px;">
        <input id="Leave" onclick="store(0)" type="submit" readonly value="나가기" style="width: 180px; height: 50px; font-size: 30px;">
      </div>
    </div>
  </div>
  <br>
  <div id="battleButton">
    <input id="가위" onclick="battle_RockPaperScissors(0)" type="submit" readonly value="가위" style="width: 180px; height: 50px; font-size: 30px;">
    <input id="바위" onclick="battle_RockPaperScissors(1)" type="submit" readonly value="바위" style="width: 180px; height: 50px; font-size: 30px;">
    <input id="보" onclick="battle_RockPaperScissors(2)" type="submit" readonly value="보" style="width: 180px; height: 50px; font-size: 30px;">
  </div>

  <script src="./version03.js"></script>
</body>
</html>