<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>수정하기</title>
</head>
<body>
  <h2>글 수정</h2>
  <form method="post" action="/board/update">
    <label for="subject">제목</label>
    <input type="text" value="">
    <br>
    <label for="name">내 이름은</label>
    <input name="name" value="{{name}}"
    <br>
    <a href="/board/list">목록가기</a>
    <input type="submit" value="저장하기"></form>
  </form>

</body>
</html>