<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>조회하기</title>
</head>
<body>
  <h2>view 페이지</h2>
  <ul>
    
    <li>
      <label for="">제목 : </label>
      코딩수업
    </li>

    <li>
      <label for="">작성일 : </label>
      0505
    </li>

    <li>
      <label for="">조회수 : </label>
      100
    </li>

    <li>
      <label for="">내용 : </label>
      hello!
    </li>

  </ul>

  <a href="/board/list">목록가기</a>
  <a href="/board/update">수정</a>
  <a href="/board/delete">삭제</a>
</body>
</html>